 *{
    margin: 0;
    padding: 0;
} 
body{
    background: #0b0f12;
    color: #fff !important;
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    display: flex;
}
.listofcontents{
    height: 100vh;
    width: 250px;
    border-right: 1px solid rgba(255, 255, 255, 0.103);
    overflow: scroll;
}
.category{
    margin: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    padding: 10px; 
}
.item{
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.103);
}
.item:hover{
    background: #161a1e;
    border: none;
}
.categorname{
    margin: 5px;
    margin-left: 0px;
}
.navbar{
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.markdown-body{
    color: #fff !important;
}
